.cta {
    padding-top: 160px;
    padding-bottom: 160px;
    .row {
        border: 1px dashed #ccc;
        h2 {
            font-size: 5.5rem;
        }
    }
}
.btn.style-7 {
    background-color: transparent;
    border-color: black;
    border: 2px solid black;
    color: black;
    font-size: 20px!important;
    font-weight: bold;
}