.navigation {
    display: block;
    height: 100%;
}
    /* align-self: stretch; */
    .navigation >ul {
        list-style: none;
        margin-bottom: 0;
        height: 100%;
    }
    .navigation >ul >li {
            display: inline-block;
            position: relative;
            float: left;
            height: 100%
        }
    .navigation >ul >li.has-mega-menu {
                position: inherit;
            }
    .navigation >ul >li:hover>a:after, .navigation >ul >li>a.active:after {
                -webkit-transform: scaleX(1);
                        transform: scaleX(1);
                -webkit-transform-origin: left;
                        transform-origin: left;
            }
    .navigation >ul >li:hover>.mega-menu,.navigation >ul >li:hover>ul {
                opacity: 1;
                visibility: visible;
                pointer-events: auto;
            }
    .navigation >ul >li a {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                position: relative;
                height: 100%;
                padding: 16px 19.2px;
                padding: 1rem 1.2rem;
                color: white;
                font-size: 19.2px;
                font-size: 1.2rem;
                text-transform: uppercase;
                letter-spacing: .1em;
                -webkit-backface-visibility: hidden;
                        backface-visibility: hidden
            }
    .navigation >ul >li a:hover {
                    text-decoration: none;
                }
    .navigation >ul >li >a:after {
                content: '';
                display: block;
                position: relative;
                bottom: 0;
                left: 0;
                height: 2px;
                width: 100%;
                background-color: currentColor;
                -webkit-transform-origin: right;
                        transform-origin: right;
                -webkit-transform: scaleX(0);
                        transform: scaleX(0);
                transition: -webkit-transform .3s ease;
                -webkit-transition: -webkit-transform .3s ease;
                transition: transform .3s ease;
                transition: transform .3s ease, -webkit-transform .3s ease;
                -webkit-backface-visibility: hidden;
                        backface-visibility: hidden;
            }
    .navigation >ul >li div.mega-menu {
                opacity: 0;
                visibility: hidden;
                pointer-events: auto;
                position: absolute;
                top: 100%;
                left: 0;
                right: 0;
                margin-right: -15px;
                margin-left: -15px;
                border-top: 1px solid rgba(255, 255, 255, .1);
                border-bottom: 5px solid white;
                padding: 30px 50px 30px;
                background-color: #111;
                -webkit-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .22);
                        box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .22);
                -webkit-transition: all .3s ease;
                transition: all .3s ease;       
            }
    .navigation >ul >li div.mega-menu h6.col-title {
                    color: #fff;
                    text-transform: uppercase;
                    font-size: 25.6px;
                    font-size: 1.6rem;
                    margin-bottom: 32px;
                    margin-bottom: 2rem;
                }
    .navigation >ul >li >ul {
                position: absolute;
                width: 200px;
                left: 0;
                background-color: #111;
                border-top: 1px solid rgba(255, 255, 255, .1);
                visibility: hidden;
                opacity: 0;
                pointer-events: none;
                -webkit-transition: all .3s ease;
                transition: all .3s ease;
            }
    .navigation >ul >li ul li:first-child {
                        border-top: 1px solid rgba(255, 255, 255, .1);
                    }
    .navigation >ul >li ul li {
                    display: block;
                    border-bottom: 1px solid rgba(255, 255, 255, .1);
                    -webkit-backface-visibility: hidden;
                            backface-visibility: hidden;
                }
    .navigation >ul >li ul li a {
                        display: block;
                        color: rgba(255, 255, 255, .7);
                        padding: 12.8px 28.8px;
                        padding: .8rem 1.8rem;
                        -webkit-transition: all .3s ease;
                        transition: all .3s ease
                    }
    .navigation >ul >li ul li a:hover {
                            color: rgba(255, 255, 255, 1);
                            background-color: #000;
                            text-indent: 5px;
                        }
    .navigation >ul >li ul li a.new:after {
                            content: 'NEW';
                            display: inline-block;
                            background-color: red;
                            color: white;
                            border-radius: 3px;
                            margin-left: 12px;
                            font-size: 11px;
                            font-weight: 700;
                            padding: 1px 4px;
                            letter-spacing: 0;
                            text-indent: 0;
                        }
    .navigation >ul >li:last-child>ul, .navigation >ul >li:nth-last-child(2)>ul {
                left: auto;
                right: 0;
            }
#header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* position: relative; */
    position: fixed;
    top: 0;
    left: 0;
    /* box-sizing
    margin */
    border-bottom: 1px solid rgba(255, 255, 255, .08);
    width: 100%;
    height: 65px;
    padding: 0 50px;
    /* font-size
    line-height */
    background-color: black;
    z-index: 1001;
}
#mySlider {
    
}
/* .hero {
    height: 100%;
} */
.hero-fullscreen {
    height: calc(100vh - 65px);
}
.carousel-inner img {
    display: inline-block;
    width: 100%;
    height: calc(100vh - 65px);
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);@font-face {
    font-family: GI;
    src: url(../fonts/gi-bold-web.woff) format('woff');
    font-weight: 700;
    font-style: normal
};

@font-face {
    font-family: GI;
    src: url(../fonts/gi-regular-web.woff) format('woff');
    font-weight: 400;
    font-style: normal
}

body {
    font-family: 'Open Sans',sans-serif;
    -webkit-transition: opacity .8s;
    transition: opacity .8s;
    opacity: 1
}

h1,h2,h3,h4,h5,h6 {
    font-family: GI,sans-serif!important;
}
#main {
    min-height: 100vh;
}
.bg-lines:not([data-background]) {
    background-color: #f3f6f7;
    background-size: 57px auto;
    background-position: center center;
    background-image: linear-gradient(to right,transparent 29px,rgba(0, 0, 0, .08) 29px,transparent 30px);
}